<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Warframe Forum - Administration</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/1d16096405.js" crossorigin="anonymous"></script>
</head>
<body class="bg-gradient-to-b from-gray-900 to-gray-800 text-gray-100 font-sans min-h-screen flex flex-col">
{{ template "headerComponent" .Header }}
<main class="flex-grow flex flex-col">
    <section class="bg-gradient-to-r from-blue-700 to-blue-500 text-white text-center py-8 shadow-md">
        <h2 class="text-4xl font-bold mb-4">Administration</h2>
        <p class="text-lg max-w-2xl mx-auto">Welcome to the administration area. Manage your forum's users, content and
            settings.</p>
    </section>

    <div class="max-w-6xl mx-auto p-8 flex justify-center items-center my-8">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-10">
            <div class="bg-white dark:bg-gray-800 p-8 rounded-xl shadow-lg hover:shadow-2xl transition-all duration-300 transform hover:-translate-y-2 w-full max-w-sm border-t-4 border-green-500">
                <div class="flex justify-center mb-6">
                    <span class="bg-green-100 text-green-600 p-3 rounded-full">
                        <i class="fas fa-newspaper fa-2x"></i>
                    </span>
                </div>
                <h3 class="text-xl font-bold mb-4 text-center">Content Moderation</h3>
                <p class="text-gray-400 text-center mb-6">Check and moderate forum posts and comments.</p>
                <div class="text-center">
                    <button id="btn-moderation"
                            class="inline-block bg-green-600 hover:bg-green-700 text-white py-2 px-6 rounded-full transition-colors duration-300">
                        Access <i class="fas fa-arrow-right ml-2"></i>
                    </button>
                </div>
            </div>

            <div class="bg-white dark:bg-gray-800 p-8 rounded-xl shadow-lg hover:shadow-2xl transition-all duration-300 transform hover:-translate-y-2 w-full max-w-sm border-t-4 border-red-500">
                <div class="flex justify-center mb-6">
                    <span class="bg-red-100 text-red-600 p-3 rounded-full">
                        <i class="fa-solid fa-users-gear fa-2x"></i>
                    </span>
                </div>
                <h3 class="text-xl font-bold mb-4 text-center">User Management</h3>
                <p class="text-gray-400 text-center mb-6">See reported users and manage the roles of moderator
                    users.</p>
                <div class="text-center">
                    <button id="btn-reports"
                            class="inline-block bg-red-600 hover:bg-red-700 text-white py-2 px-6 rounded-full transition-colors duration-300">
                        Access <i class="fas fa-arrow-right ml-2"></i>
                    </button>
                </div>
            </div>

            <div class="bg-white dark:bg-gray-800 p-8 rounded-xl shadow-lg hover:shadow-2xl transition-all duration-300 transform hover:-translate-y-2 w-full max-w-sm border-t-4 border-purple-500">
                <div class="flex justify-center mb-6">
                    <span class="bg-purple-100 text-purple-600 p-3 rounded-full">
                        <i class="fas fa-table-list fa-2x"></i>
                    </span>
                </div>
                <h3 class="text-xl font-bold mb-4 text-center">Category Management</h3>
                <p class="text-gray-400 text-center mb-6">Manage categories and subcategories of the forum.</p>
                <div class="text-center">
                    <button id="btn-category"
                            class="inline-block bg-purple-600 hover:bg-purple-700 text-white py-2 px-6 rounded-full transition-colors duration-300">
                        Access <i class="fas fa-arrow-right ml-2"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- Modal Content Moderation -->
<div id="modal-moderation" class="fixed inset-0 z-50 hidden">
    <div class="absolute inset-0 bg-black bg-opacity-50 backdrop-blur-sm" id="modal-moderation-backdrop"></div>
    <div class="relative top-20 mx-auto max-w-4xl w-full bg-gray-800 rounded-lg shadow-xl transform transition-all p-6">
        <div class="flex justify-between items-center mb-6">
            <h3 class="text-xl font-bold">Content moderation</h3>
            <button class="modal-close text-gray-400 hover:text-white" data-modal="modal-moderation">
                <i class="fas fa-xmark text-xl"></i>
            </button>
        </div>
        <div class="mb-6">
            <div class="flex gap-2">
                <button class="tab-btn-moderation active-tab bg-gray-700 px-4 py-2 rounded-tl-lg rounded-tr-lg"
                        data-tab="tab-content-moderation">
                    <i class="fas fa-gavel mr-2"></i>Reports
                </button>
                <button class="tab-btn-waiting bg-gray-700 px-4 py-2 rounded-tl-lg rounded-tr-lg"
                        data-tab="tab-content-waiting">
                    <i class="fas fa-hourglass-half mr-2"></i>Waiting for validation
                </button>
            </div>
            <div class="border-t border-gray-600"></div>
        </div>

        <!-- Signalements -->
        <div class="tab-content-moderation" id="tab-content-moderation">
            <ul class="grid grid-cols-1 md:grid-cols-2 gap-4 overflow-y-auto max-h-96">
                {{ if .Reports}}
                    {{ range .Reports}}
                        <li class="py-4 bg-gray-700 hover:bg-gray-600 px-4 rounded-lg moderation-report-item">
                            <div class="flex justify-between items-start">
                                <div class="flex flex-col">
                                    <h4 class="font-medium text-lg mb-1">{{ .Post.Title}}</h4>
                                    <div class="flex items-center text-sm text-gray-400 mb-1">
                                        <span>By <a href="/profile?user_id={{.User.ID}}"><span class="text-blue-400">{{.User.Pseudo}}</span></a></span>
                                        <span class="mx-2">•</span>
                                        <span>{{ .Post.TimeAgo }}</span>
                                    </div>
                                    <p class="text-sm text-gray-300 line-clamp-2 mb-2">
                                        {{ .Post.Content }}
                                    </p>
                                </div>
                            </div>
                            <div class="mt-3 flex gap-2 justify-end">
                                <a href="/posts?post_id={{.Post.ID}}">
                                    <button class="bg-yellow-600 text-white text-xs px-3 py-1 rounded-full hover:bg-yellow-700">
                                        <i class="fas fa-eye mr-1"></i>See the post
                                    </button>
                                </a>
                                <form action="/admin/report/delete" method="POST">
                                    <input type="hidden" name="report_id" value="{{.ID}}">
                                    <button class="bg-green-600 text-white text-xs px-3 py-1 rounded-full hover:bg-green-700">
                                        <i class="fas fa-check mr-1"></i>NTR
                                    </button>
                                </form>
                                <form action="/admin/content/delete" method="POST">
                                    <input type="hidden" name="post_id" value="{{.ID}}">
                                    <button class="bg-red-600 text-white text-xs px-3 py-1 rounded-full hover:bg-red-700">
                                        <i class="fas fa-trash mr-1"></i>Delete
                                    </button>
                                </form>
                            </div>
                        </li>
                    {{end}}
                {{end}}
            </ul>
            <div class="text-center my-4 text-gray-300 pagination-info-moderation"></div>
            <div class="flex justify-center space-x-2 mb-8 pagination-moderation"></div>
        </div>
        <!-- En attente -->
        <div class="tab-content-waiting hidden" id="tab-content-waiting">
            <ul class="grid grid-cols-1 md:grid-cols-2 gap-4 overflow-y-auto max-h-96">
                {{ if .WaitingPosts}}
                    {{ range .WaitingPosts}}
                        <li class="bg-gray-700 rounded-lg p-4 hover:bg-gray-600 transition-colors cursor-pointer waiting-content-item">
                            <div class="flex justify-between">
                                <h4 class="font-medium mb-2">{{.Title}}</h4>
                                <span class="text-xs text-gray-400">{{.TimeAgo}}</span>
                            </div>
                            <p class="text-sm text-gray-300 mb-3 line-clamp-2">{{.Content}}</p>
                            <div class="flex justify-between items-center">
                                <span class="text-xs text-gray-400">By <a href="/profile?user_id={{.User_ID}}"><span class="text-blue-400">{{.User.Pseudo}}</span></a> </span>
                                <a href="/posts?post_id={{.ID}}">
                                    <button class="bg-yellow-600 text-white text-xs px-3 py-1 rounded-full hover:bg-yellow-700">
                                        <i class="fas fa-eye mr-1"></i>See the post
                                    </button>
                                    </a>
                                <form action="/admin/content/validate" method="POST">
                                    <input type="hidden" name="post_id" value="{{.ID}}">
                                    <button class="bg-green-600 text-white text-xs px-3 py-1 rounded-full hover:bg-green-700">
                                        <i class="fas fa-check mr-1"></i>Validate
                                    </button>
                                </form>
                                <form action="/admin/content/delete" method="POST">
                                    <input type="hidden" name="post_id" value="{{.ID}}">
                                    <button class="bg-red-600 text-white text-xs px-3 py-1 rounded-full hover:bg-red-700">
                                        <i class="fas fa-trash mr-1"></i>Delete
                                    </button>
                                </form>

                            </div>
                        </li>
                    {{end}}
                {{ end }}
            </ul>
            <div class="text-center my-4 text-gray-300 pagination-info-waiting"></div>
            <div class="flex justify-center space-x-2 mb-8 pagination-waiting"></div>
        </div>
    </div>
</div>

<!-- Modal Content Signalized -->
<div id="modal-reports" class="fixed inset-0 z-50 {{if not .UserManagement}}hidden{{end}}">
    <div class="absolute inset-0 bg-black bg-opacity-50 backdrop-blur-sm" id="modal-reports-backdrop"></div>
    <div class="relative top-20 mx-auto max-w-4xl w-full bg-gray-800 rounded-lg shadow-xl transform transition-all p-6">
        <div class="flex justify-between items-center mb-6">
            <h3 class="text-xl font-bold">User Role Management</h3>
            <button class="modal-close text-gray-400 hover:text-white" data-modal="modal-reports">
                <i class="fas fa-times text-xl"></i>
            </button>
        </div>

        <div class="tab-content" id="user-roles-tab">
            <div class="mb-6">
                <form class="flex gap-4 items-center" action="/admin/user/search" method="GET">
                    <div class="flex-grow">
                        <input type="text" placeholder="Search an user..." name="search"
                               class="w-full px-4 py-2 rounded-md bg-gray-700 border border-gray-600 focus:border-blue-500 focus:ring-blue-500 text-white">
                    </div>
                    <button type="submit" class="bg-green-600 hover:bg-green-700 px-6 py-2 rounded-md text-white">
                        <i class="fas fa-search mr-2"></i>Search
                    </button>
                </form>
            </div>

            <ul class="divide-y divide-gray-700">
                {{ range .AllUsers }}
                    {{ if le (index .Role.Permission 0) 2 }}
                        <li class="py-4 hover:bg-gray-700 px-4 rounded-lg flex justify-between items-center user-role-item">
                            <div>
                                <p class="font-medium">{{ .Pseudo }}</p>
                                <p class="text-sm text-gray-400">Current role :
                                    <span class="font-semibold text-blue-400">
                                {{.Role.Name}}
                            </span>
                                </p>
                            </div>
                            <form>
                                <div class="flex gap-2">
                                    {{ if eq (index .Role.Permission 0) 2 }}
                                        <form action="/admin/user/demote" method="POST">
                                            <input type="hidden" name="user_id" value="{{ .ID }}">
                                            <button class="bg-red-600 text-white text-xs px-3 py-1 rounded-full hover:bg-red-700 btn-remove-moderator"
                                                    data-username="{{ .Pseudo }}">
                                                <i class="fas fa-user-minus mr-1"></i>Remove Moderator
                                            </button>
                                        </form>
                                    {{ else }}
                                        <form action="/admin/user/promote" method="POST">
                                            <input type="hidden" name="user_id" value="{{ .ID }}">
                                            <button type="submit"
                                                    class="bg-green-600 text-white text-xs px-3 py-1 rounded-full hover:bg-green-700 btn-add-moderator"
                                                    data-username="{{ .Pseudo }}">
                                                <i class="fas fa-user-plus mr-1"></i>Add Moderator
                                            </button>
                                        </form>
                                    {{ end }}
                                </div>
                            </form>
                        </li>
                    {{end}}
                {{end}}
            </ul>
            <div class="text-center my-4 text-gray-300 pagination-info-roles"></div>
            <div class="flex justify-center space-x-2 mb-8 pagination-controls-roles"></div>
        </div>
    </div>
</div>

<!-- Modal Category management -->
<div id="modal-category" class="fixed inset-0 z-50 {{if not .CategoryManagement}}hidden{{end}}">
    <div class="absolute inset-0 bg-black bg-opacity-50 backdrop-blur-sm" id="modal-category-backdrop"></div>
    <div class="relative top-20 mx-auto max-w-4xl w-full bg-gray-800 rounded-lg shadow-xl transform transition-all p-6">
        <div class="flex justify-between items-center mb-6">
            <h3 class="text-xl font-bold">Category Management</h3>
            <button class="modal-close text-gray-400 hover:text-white" data-modal="modal-category">
                <i class="fas fa-times text-xl"></i>
            </button>
        </div>

        <div class="mb-6">
            <div class="flex gap-4 items-center mb-6">
                <button id="btn-add-category"
                        class="bg-green-600 hover:bg-green-700 px-6 py-2 rounded-md text-white flex items-center">
                    <i class="fas fa-plus mr-2"></i>Add
                </button>
            </div>
        </div>
        <div id="modal-add-category" class="fixed inset-0 z-60 hidden">
            <div class="absolute inset-0 bg-black bg-opacity-50 backdrop-blur-sm" id="modal-category-backdrop"></div>
            <div class="absolute inset-0 bg-black bg-opacity-50 backdrop-blur-sm" id="new-category-popup-backdrop"></div>
            <div class="relative top-1/4 mx-auto max-w-md w-full bg-gray-800 rounded-lg shadow-xl transform transition-all p-6">
            <div class="flex justify-between items-center mb-4">
                <h3 class="text-xl font-bold text-white">Create New Category</h3>
                <button class="text-gray-400 hover:text-white" id="close-new-category-popup">
                <i class="fas fa-times text-xl"></i>
                </button>
            </div>
            <form id="new-category-form" action="/admin/category/create" method="POST">
                <div class="mb-4">
                <label for="category-name" class="block text-sm font-medium text-gray-300 mb-2">Category Name</label>
                <input type="text" id="category-name" name="category_name" placeholder="Enter category name"
                       class="w-full px-4 py-2 rounded-md bg-gray-700 border border-gray-600 focus:border-blue-500 focus:ring-blue-500 text-white" maxlength="50" required>
                </div>
                <div class="flex justify-end">
                <button type="submit" class="bg-green-600 hover:bg-green-700 px-6 py-2 rounded-md text-white">
                    Create
                </button>
                </div>
            </form>
            </div>
        </div>
        <div class="max-h-96 overflow-y-auto">
            <ul class="divide-y divide-gray-700">
                {{ range .AllCategories }}
                <li class="py-3 px-4 hover:bg-gray-700 rounded-lg flex justify-between items-center">
                    <span class="font-medium text-white">{{.Name}}</span>
                    <div class="flex gap-2">
                        <button type="button" class="bg-blue-600 text-white text-xs px-3 py-1 rounded-full hover:bg-blue-700"
                            data-category-id="{{ .ID }}" data-category-name="{{ .Name }}" onclick="openEditCategoryPopup({{ .ID }})">
                            <i class="fas fa-edit mr-1"></i>Edit
                        </button>

                        <div id="edit-category-popup-{{ .ID }}" class="fixed inset-0 z-[1000] hidden">
                            <div class="absolute inset-0 bg-black bg-opacity-50 backdrop-blur-sm z-60" id="modal-category-backdrop"></div>
                            <div class="relative top-1/4 mx-auto max-w-md w-full bg-gray-800 rounded-lg shadow-xl transform transition-all p-6">
                            <div class="flex justify-between items-center mb-4">
                                <h3 class="text-xl font-bold text-white">Edit Category</h3>
                            </div>
                            <form action="/admin/category/edit" method="POST">
                                <input type="hidden" name="category_id" value="{{ .ID }}">
                                <div class="mb-4">
                                <label for="edit-category-name-{{ .ID }}" class="block text-sm font-medium text-gray-300 mb-2">Category Name</label>
                                <input type="text" id="edit-category-name-{{ .ID }}" name="category_name" value="{{ .Name }}"
                                       class="w-full px-4 py-2 rounded-md bg-gray-700 border border-gray-600 focus:border-blue-500 focus:ring-blue-500 text-white" maxlength="50" required>
                                </div>
                                <div class="flex justify-end">
                                <button type="submit" class="bg-green-600 hover:bg-green-700 px-6 py-2 rounded-md text-white">
                                    Save
                                </button>
                                </div>
                            </form>
                            </div>
                        </div>
                        <form action="/admin/category/delete" method="POST">
                            <input type="hidden" name="category_id" value="{{ .ID }}">
                            <button type="submit" class="bg-red-600 text-white text-xs px-3 py-1 rounded-full hover:bg-red-700 btn-delete-category"
                                    data-category="{{ .Name }}">
                                <i class="fas fa-trash mr-1"></i>Delete
                            </button>
                        </form>
                    </div>
                </li>
                {{ end }}
            </ul>
        </div>
        <div class="text-center my-4 text-gray-300 pagination-info"></div>
        <div class="flex justify-center space-x-2 mb-8 pagination-controls"></div>
    </div>
</div>
{{ template "footerComponent" . }}
<script src="/static/js/globalFunction.js"></script>
<script src="/static/js/admin.js"></script>
</body>
</html>