<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Forum Warframe</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/1d16096405.js" crossorigin="anonymous"></script>
</head>
<body class="bg-gray-900 text-gray-100 font-sans">
{{ template "headerComponent" .Header }}
<main class="bg-[url(/static/imgs/forums_background.jpg)] bg-center bg-cover">
    <section class="bg-blue-600 text-white text-center py-10">
        <h2 class="text-3xl font-bold mb-2">Welcome on Warframe Forum</h2>
        <p class="text-lg mb-8">Discuss, share builds and help the Tenno community.</p>

        {{if .Header.IsConnected}}
            <a href="/posts/new" class="bg-white text-blue-700 px-6 py-2 rounded font-semibold hover:bg-gray-200">
                <i class="fa-regular fa-square-plus pr-2"></i>Create a post
            </a>
        {{end}}
    </section>
    <section class="max-w-6xl mx-auto py-10 px-4">
        <h3 class="inline-block text-2xl font-bold mb-6 bg-gray-800 p-4 rounded-lg shadow">Main Categories</h3>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
            <a href="#" class="bg-gray-800 p-4 rounded-lg shadow hover:bg-gray-600">
                <h4 class="text-xl font-semibold mb-2">🛡️ Builds & Warframe</h4>
                <p>Share your best configurations and strategies.</p>
            </a>
            <a href="#" class="bg-gray-800 p-4 rounded-lg shadow hover:bg-gray-600">
                <h4 class="text-xl font-semibold mb-2">🗺️ Missions & Guides</h4>
                <p>Need help with a quest or a boss? You'll find it here.</p>
            </a>
            <a href="#" class="bg-gray-800 p-4 rounded-lg shadow hover:bg-gray-600">
                <h4 class="text-xl font-semibold mb-2">🎨 Fan Arts & Creations</h4>
                <p>Show off your Warframe-inspired drawings, videos and stories.</p>
            </a>
        </div>
    </section>
    <section class="max-w-6xl mx-auto py-10 px-4">
        <h3 class="inline-block text-2xl font-bold mb-6 bg-gray-800 p-4 rounded-lg shadow">Last posts</h3>
        <div class="space-y-4">
        {{ range .LastPosts }}
            <div class="bg-gray-800 p-4 rounded-lg shadow">
                <h4 class="font-semibold text-lg">{{.Title}}</h4>
                <p class="text-sm text-gray-400">by 
                    <a href="/profile?user_id={{.User.ID}}">
                        <span class="text-blue-400">{{.User.Pseudo}}
                        </span>
                    </a> • {{.TimeAgo}}
                </p>
                <p class="mt-2 text-gray-300">{{.Content}}</p>
                <a href="/posts?post_id={{.ID}}" class="text-blue-400 hover:underline mt-2 inline-block">
                    <i class="fas fa-comments pr-1"></i>View post
                </a>
            </div>
        {{end}}
        </div>
    </section>
    <section class="max-w-6xl mx-auto py-10 px-4 text-center">
        <div class="bg-gray-800 p-4 rounded-lg shadow inline-block">
            <h3 class="text-2xl font-bold mb-6">Statistics</h3>
            <p class="text-gray-300">
           🧑 {{.UserCount}} Total Users • 
           ✉️ {{.PostCount}} Total Posts • 
           🔥 {{.ActiveUsersCount}} Online Users
            </p>
        </div>
    </section>

{{if not .Header.IsConnected}}
    <section class="bg-blue-700 text-white text-center py-10">
        <h3 class="text-2xl font-bold mb-4">Join the Tenno community!</h3>
        <a href="/auth/login" class="bg-white text-blue-700 px-6 py-2 rounded font-semibold hover:bg-gray-100">
            <i class="fas fa-sign-in-alt text-sm"></i> Sign Up Now
        </a>
    </section>
{{end}}

</main>
{{ template "footerComponent" . }}
<script src="/static/js/globalFunction.js"></script>
</body>
</html>
