{{define "footerComponent"}}
<footer class="mt-auto bg-gray-800 border-t border-gray-700 text-center text-gray-400 py-8">
    <div class="max-w-6xl mx-auto px-4">
        <p class="mb-4">&copy; 2025 Forum Warframe. All rights reserved.</p>
        <div class="mt-6 flex justify-center space-x-4">
            <a href="https://discord.gg/playwarframe" target="_blank" class="text-gray-400 hover:text-blue-400"><i class="fab fa-discord fa-lg"></i></a>
            <a href="https://www.instagram.com/playwarframe/" target="_blank" class="text-gray-400 hover:text-blue-400"><i class="fab fa-instagram fa-lg"></i></a>
            <a href="https://x.com/PlayWarframe?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank" class="text-gray-400 hover:text-blue-400"><i class="fa-brands fa-x-twitter"></i></a>
            <a href="https://www.reddit.com/r/Warframe/" target="_blank" class="text-gray-400 hover:text-blue-400"><i class="fab fa-reddit fa-lg"></i></a>
        </div>
    </div>
</footer>
{{end}}